<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-store, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <title>搜狐墨客</title>
    <!-- build:css ../static/css/main.css-->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- endbuild -->
    <script>
    function renderInit() {
        var clientWidth = document.documentElement.clientWidth < 500 ? document.documentElement.clientWidth : 500;
        document.documentElement.style.fontSize = clientWidth / 7.5 + 'px';
    }
    window.onresize = renderInit;
    renderInit();
    </script>
</head>

<body>
    <div id="content">
        <header class="top-banner">
            <div>
                <img src="../static/img/share.jpg" alt="">
                <span>弹指成文，我的笔墨新世界</span>
                <span class="download">立即下载</span>
            </div>
        </header>
        <main>
            <article>
                <aside>
                    <!-- 作者信息 -->
                </aside>
                <section>
                    <!-- 作品信息 -->
                </section>
                <footer>
                    <div class="download">
                        <img src="../static/img/share-bottom.png" alt="">
                    </div>
                </footer>
            </article>
        </main>
    </div>
    <template id="author">
    </template>
    <template id='article-pic'>
        <div class="pic-wrap">
            <!-- user_id存在，文章就存在 -->
            {{~it.images :value:index}}
            <div class="img" style="background: #f9f9f9 url('{{=value.url}}') no-repeat left top/100%"></div>
            {{~}}
            <span class='end'>END</span>
        </div>
    </template>
    <template id="article-h5">
        {{?it.articleId}}
        <div class="wrapper" id="ink-wrapper">
            <!-- 是否存在页头 -->
            {{? it['coverImageURL'] != "#" }}
            <div class="img-box cover-img">
                <img src="{{= it['coverImageURL'] }}">
            </div>
            {{?}}
            <div class="container-h5">
                <!-- 循环遍历每个段落 -->
                {{~ it['content']: block :blockIndex }}
                <!-- paragraph-{{= blockIndex }} -->
                <div class="paragraph {{= block['classList'] }}">
                    {{? block['type'] == 'Title' }}
                    <div class="title-box">
                        <h2 class="title fontSize{{= it['globalFontSize']}} font-family{{= it['globalFontsID']}}" style="line-height:{{= it['globalFontSize'] + 6 }}px">
                        {{= it['title']||'无题'}}
                      </h2> {{? it['timeStamp'] != null }}
                        <p class="time">{{= it['timeStamp'] }}</p>
                        {{?}}
                    </div>
                    {{?? block['type'] == 'Image' }}
                    <div class="img-box">
                        <img src="{{=block['imageURL']}}">
                    </div>
                    <!-- 是否存在图片描述信息 -->
                    {{? block['desc'] }}
                    <p class="img-explain {{= block['classList'] }}" style="{{= block['cssText'] }}">
                        {{= block['desc'] }}
                    </p>
                    {{?}} {{?? block['type'] == 'Text' }}
                    <div class="text-box {{= block['classList'] }}" style="{{= block['cssText'] }}">
                        <i class="before" style="{{= block['quoteStyle'] }}"></i> {{= block['content'] }}
                    </div>
                    {{?}}
                </div>
                {{~}}
            </div>
        </div>
        <span class="end">END</span> {{?}}
    </template>
    <template id='error'>
        <div class="error-wrap">
            <img class='error' src="../static/img/002A.png" alt="">
            <div class="dsp">{{=it.error}}</div>
        </div>
    </template>
    <!-- build:js ../static/js/index.js -->
    <script src="../static/js/lib/zepto.min.js"></script>
    <script src="../static/js/lib/doT.min.js"></script>
    <script src="../static/js/lib/ishare.js"></script>
    <script src="../static/js/index.js"></script>
    <!-- endbuild -->
    <!-- 埋点 -->
    <script type="text/javascript">
    (function(e, a) {
        if (!a.__SV) {
            var b = window;
            try {
                var c, l, i, j = b.location,
                    g = j.hash;
                c = function(a, b) { return (l = a.match(RegExp(b + "=([^&]*)"))) ? l[1] : null };
                g && c(g, "state") && (i = JSON.parse(decodeURIComponent(c(g, "state"))), "mpeditor" === i.action && (b.sessionStorage.setItem("_mpcehash", g), history.replaceState(i.desiredHash || "", e.title, j.pathname + j.search)))
            } catch (m) {}
            var k, h;
            window.mixpanel = a;
            a._i = [];
            a.init = function(b, c, f) {
                function e(b, a) {
                    var c = a.split(".");
                    2 == c.length && (b = b[c[0]], a = c[1]);
                    b[a] = function() {
                        b.push([a].concat(Array.prototype.slice.call(arguments,
                            0)))
                    }
                }
                var d = a;
                "undefined" !== typeof f ? d = a[f] = [] : f = "mixpanel";
                d.people = d.people || [];
                d.toString = function(b) {
                    var a = "mixpanel";
                    "mixpanel" !== f && (a += "." + f);
                    b || (a += " (stub)");
                    return a
                };
                d.people.toString = function() { return d.toString(1) + ".people (stub)" };
                k = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for (h = 0; h < k.length; h++) e(d, k[h]);
                a._i.push([b, c, f])
            };
            a.__SV = 1.2;
            b = e.createElement("script");
            b.type = "text/javascript";
            b.async = !0;
            b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
            c = e.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(b, c)
        }
    })(document, window.mixpanel || []);
    // 测试环境
    if (location.href.indexOf('club-h5-test') != -1) {
        mixpanel.init("f1b7bab909640be7b6e7cfa5edcfb4f9");
    } else {
        // 线上环境
        mixpanel.init("35dfa0c34ddcb6f03d45663f1db41606");
    }
    </script>
    <!-- build:remove -->
    <!-- <script src='../static/js/vconsole.min.js'></script> -->
    <!-- <script src='../static/js/vconsole-elements.min.js'></script> -->
    <!-- endbuild -->
</body>

</html>