//搜狐狐友3.0主色调

$c-yellow1 :#FDD536;
$c-yellow2 :#FFBC2F;
$c-yellow3 :#D9A815;

$c-red1 :#EE2F10;
$c-red2 :#FF644B;
$c-red3 :#ED5D49;

$c-blue1 :#3D5699;
$c-blue2 :#3B87F9;

$c-black1 :#000;
$c-black2 :#161616;
$c-black3 :#3A3A3A;
$c-black4 :#454545;
$c-black5 :#929292;
$c-black6 :#B1B1B1;
$c-black7 :#DADADA;
$c-black8 :#E4E4E4;
$c-black9 :#F1F1F1;
$c-black10 :#F1F2F2;
$c-black11 :#FFF;

//夜间颜色
$c-night-yellow1 :#7F5D17;
$c-night-yellow2 :#7E6A1A;
$c-night-yellow3 :#5C430F;

$c-night-red1 :#6E2A2A;
$c-night-red2 :#7F3125;
$c-night-red3 :#762E24;

$c-night-blue1 :#374669;
$c-night-blue2 :#1D437C;

$c-night-black1 :#7A7A7A;
$c-night-black2 :#6E6E6E;
$c-night-black3 :#5A3A3A;
$c-night-black4 :#707070;
$c-night-black5 :#606060;
$c-night-black6 :#4E4E4E;
$c-night-black7 :#343434;
$c-night-black8 :#313131;
$c-night-black9 :#2A2A2A;
$c-night-black10 :#2E2E2E;
$c-night-black11 :#232323;

//$night: (
//        #FDD536: #7F5D17,
//        #FFBC2F: #7E6A1A,
//        #D9A815: #5C430F,
//        #EE2F10:#6E2A2A,
//        #FF644B:#7F3125,
//        #ED5D49:#762E24,
//        #3D5699:#374669,
//        #3B87F9:#1D437C,
//        #000:#7A7A7A,
//        #161616:#6E6E6E,
//        #3A3A3A:#5A3A3A,
//        #454545:#707070,
//        #929292:#606060,
//        #B1B1B1:#4E4E4E,
//        #DADADA:#343434,
//        #E4E4E4:#313131,
//        #F1F1F1:#2A2A2A,
//        #F1F2F2: #2E2E2E,
//        #FFF:#232323
//);
