@import "variables";
@import "mixins";

body{
  @at-root .night &{
    background-color: $black1-night;
  }
}

.h1, h1 {
  font-size: 96px;
}
.h2, h2 {
  font-size: 44px;
}
.h3, h3 {
  font-size: 40px;
}
.h4, h4 {
  font-size: 36px;
}
.h5, h5 {
  font-size: 32px;
}
.h6, h6 {
  font-size: 32px;
}

//Button
.btn{
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  background: none;
  text-align: center;
  font-weight:normal;
}

.btn1,.btn2{
  @extend .btn;
}

.btn1,.btn2{
  @extend .btn;
}

.line-btn1{

}

.btn1{
  background-color: $yellow1;
  font-size: 28px;
}

.btn2{
  height: 88px;
  width: 164px;
  font-size: 36px;
  @include button-variant($black1,$yellow1,$black11)
}

