@import "../mixins";
.btn {
  //display: inline-block;
  display: flex;
  justify-content:center;
  align-items:center;

  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  box-sizing: border-box;
  border: 1px solid transparent;
  @include transition($btn-transition);
}

.block-btn-yellow {
  @include button-variant($c-black1, $c-yellow1);
}

.block-btn-red {
  @include button-variant($c-black11, $c-red3);
}

.block-btn-transparent {
  @include button-variant($c-black1, transparent);
}

.block-btn-yellow,.block-btn-red,.block-btn-transparent {
  border-radius: 10rem;
  border: none;
}

.line-btn-yellow {
  @include button-variant($c-yellow2, transparent, $c-yellow2);
}

.line-btn-black {
  @include button-variant($c-black5, transparent, $c-black5);
}

.line-btn-transparent {
  @include button-variant($c-black5, transparent);
}
.line-btn-yellow,.line-btn-black,.line-btn-transparent{
  background: none;
  border-radius: 8px;
}