//精确控制 browsersync启动时的遮罩提示，干掉默认的0.9em
#__bs_notify__ {
  font-size: 14px!important;
}
*{
  margin: 0;
  padding: 0;
}

html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  //-webkit-overflow-scrolling: touch;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}