//精确控制 browsersync启动时的遮罩提示，干掉默认的0.9em
#__bs_notify__ {
  font-size: 14px!important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-size: 0.2rem;
}

button,
input,
textarea,
select {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

li {
  list-style: none;
}

//干掉http下联通运营商的劫持 会出现一个小球 目前只是不显示了 如果能让他的js插不进来最好
.tbholder {
  display: none!important;
}