<p>[TOC]</p>
<p>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css">
    <!--     <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-1c2c316b7a17f15536c6a26ed744654fc228a24658a7ae395cdcbf8329c8406b.css" integrity="sha256-HCwxa3oX8VU2xqJu10RlT8IookZYp645XNy/gynIQGs=" media="all" rel="stylesheet"> -->
</p>
<p>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</p>
<h2 id="-">概述</h2>
<blockquote>
    <p>名词约定： 从搜狐新闻客户端&quot;狐友&quot;角度看，按照H5的宿主环境，可以分为&quot;狐友内&quot;和&quot;狐友外&quot;（狐友外包括新闻客户端webview以及端外浏览器）两部分。 以下文档中的狐友内和狐友外均按此处解释理解。
    </p>
</blockquote>
<ul>
    <li>本JS-SDK仅供狐友内webview中展现的h5页面使用</li>
    <li>如需在狐友外使用sohusns相关native交互接口(如站外呼起等业务)，请手动做协议跳转，文档参见 <a href="http://wiki.sohu-inc.com/pages/viewpage.action?pageId=17996744">http://wiki.sohu-inc.com/pages/viewpage.action?pageId=17996744</a> </li>
    <li>相关方法调用可能会因为sdk更新不及时导致和上述链接中的二代协议功能不是很一致，以上述链接中的二代协议为准。</li>
    <li>更多维护，@柳学峰 qq:1140215489</li>
</ul>
<h3 id="-">引入方式</h3>
<p>当前最新版本 1.0.9</p>
<p>引入sohusns.js,支持直接加载和标准AMD/CMD模式加载。 SDK地址：
    <a href="http://sns_wf.cdn.sohusce.com/js-sdk/sohusns/x.x.x/sohusns.js(x.x.x请使用最新版本号">http://sns_wf.cdn.sohusce.com/js-sdk/sohusns/x.x.x/sohusns.js(x.x.x请使用最新版本号</a>) Demo地址：
    <a href="http://fe.w.sohu.com/sns-webview/sdk/demo/index.html">http://fe.w.sohu.com/sns-webview/sdk/demo/index.html</a> （本demo并未穷尽所有交互，@测试同学可以根据接口文档编写用例做充分测试）
</p>
<h3 id="webview-">webview版本识别</h3>
<p>js可以通过 <em>navigator.userAgent</em> 获取&quot;搜狐新闻客户端&quot;以及&quot;狐友内部通信协议&quot;版本号，判断当前环境执行不同的逻辑。</p>
<p>注：SohuSNS/2.4.1为狐友内部通信协议版本号（非sohusns.js的）</p>
<pre><code class="lang-javascript">    <span class="hljs-comment">//ios 客户端5.3.0 狐友内部通信协议2.4.1 举例</span>
    Mozilla/<span class="hljs-number">5.0</span> (iPhone; CPU iPhone OS <span class="hljs-number">8</span>_3 like Mac OS X) AppleWebKit/<span class="hljs-number">600.1</span><span class="hljs-number">.4</span> (KHTML, like Gecko) Mobile/<span class="hljs-number">12</span>F70 SohuNews/<span class="hljs-number">5.3</span><span class="hljs-number">.0</span> SohuSNS/<span class="hljs-number">2.4</span><span class="hljs-number">.1</span>
</code></pre>
<h3 id="-">字段声明</h3>
<ul>
    <li>未标记&quot;必传&quot;字样的，都是可选字段</li>
    <li>sid，如不传，默认&quot;x&quot;</li>
    <li>cb，即callback，接收两个参数：sid为调用时传的sid，res为native的返回值</li>
    <li>以下各接口字段，不需要做urlencode处理（单独声明除外）</li>
</ul>
<h3 id="-">白名单限制</h3>
<p>安全角度考虑，只有域名符合以下规则的h5页面，才可以调用sohusns中js和native交互相关的接口。 注：含主域及其子域
</p>
<pre><code class="lang-javascript">    *<span class="hljs-selector-class">.w</span><span class="hljs-selector-class">.sohu</span><span class="hljs-selector-class">.com</span>
    *<span class="hljs-selector-class">.t</span><span class="hljs-selector-class">.sohu</span><span class="hljs-selector-class">.com</span>
    *<span class="hljs-selector-class">.mail</span><span class="hljs-selector-class">.sohu</span><span class="hljs-selector-class">.com</span>
</code></pre>
<h3 id="-">开发调试帮助</h3>
<h4 id="-userinfo-devdata-">模拟userInfo数据 - devData[属性]</h4>
<p>因为相关方法只有在页面的宿主容器为狐友webview的时候才可用，需要native做回调处理的一些方法，在PC浏览器模拟器上不会触发回调，增大了开发调试的复杂性。 为解决这个问题，特别针对需要回调的方法，现提供了一个
    <code>devData</code>字段。这里以 <em>sohusns.getUserInfo</em> 为例，使用demo如下：</p>
<pre><code class="lang-javascript">    sohusns.getUserInfo({
        cb: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(sid, res)</span> </span>{
            doSomething();
        },
        devData: 
        {
          <span class="hljs-string">"avatar"</span>: <span class="hljs-string">"http://sucimg.itc.cn/avatarimg/s_20000010_1479286483597_c175"</span>,
          <span class="hljs-string">"cid"</span>: <span class="hljs-string">"NjE1ODYwNDI0OTUzMTMzMDU4Mw=="</span>,
          <span class="hljs-string">"gid"</span>: <span class="hljs-string">"01010111060001d62e74b2708a1cdb0e9d262e8fd02942"</span>,
          <span class="hljs-string">"header"</span>: {<span class="hljs-comment">//该字段为native鉴权使用 因h5鉴权需要 特全部透传出来</span>
            <span class="hljs-string">"Accept"</span>: <span class="hljs-string">"*/*"</span>,
            <span class="hljs-string">"Idfa"</span>: <span class="hljs-string">"FA0D1A7D-50A9-447D-8DC8-7BE65345AED7"</span>,
            <span class="hljs-string">"S-CID"</span>: <span class="hljs-string">"NjE1ODYwNDI0OTUzMTMzMDU4Mw=="</span>,
            <span class="hljs-string">"S-DV"</span>: <span class="hljs-string">"iPhone 6"</span>,
            <span class="hljs-string">"S-HW"</span>: <span class="hljs-string">"667.000000,375.000000"</span>,
            <span class="hljs-string">"S-LL"</span>: <span class="hljs-string">"116.319359,39.982150"</span>,
            <span class="hljs-string">"S-MAC"</span>: <span class="hljs-string">"02:00:00:00:00:00"</span>,
            <span class="hljs-string">"S-NW"</span>: <span class="hljs-string">"WIFI"</span>,
            <span class="hljs-string">"S-OS"</span>: <span class="hljs-string">"iOS 10.3.1"</span>,
            <span class="hljs-string">"S-PID"</span>: <span class="hljs-string">"177463116630690176"</span>,
            <span class="hljs-string">"S-PPID"</span>: <span class="hljs-string">"OGI-_T2UG4RD0IWNE1JNLNIRT1IO@wechat.sohu.com"</span>,
            <span class="hljs-string">"S-SESN"</span>: <span class="hljs-string">"CiBmZWQ4ZjZlZWE1YTM0ZDc5OGNkZmRjZjVmNjgxYTNhYRC2vpWRvysbCwgAEwgBEAoYtoTejb8rIICsgf7F9/amAygAFAwcIyQ="</span>,
            <span class="hljs-string">"S-TID"</span>: <span class="hljs-string">"A236E270-8B72-4F50-9E51-151D61EBB322"</span>,
            <span class="hljs-string">"S-TO"</span>: <span class="hljs-string">"CU"</span>,
            <span class="hljs-string">"S-VD"</span>: <span class="hljs-string">"Apple"</span>,
            <span class="hljs-string">"S-VS"</span>: <span class="hljs-string">"5.9.0"</span>,
            <span class="hljs-string">"User-Agent"</span>: <span class="hljs-string">"ios"</span>,
            <span class="hljs-string">"gid"</span>: <span class="hljs-string">"01010111060001d62e74b2708a1cdb0e9d262e8fd02942"</span>,
            <span class="hljs-string">"pid"</span>: <span class="hljs-string">"6181284820556361807"</span>,
            <span class="hljs-string">"token"</span>: <span class="hljs-string">"8d6f88dc9ed50fbd4443918fb7134f7d"</span>
          },
          <span class="hljs-string">"isPhoneBind"</span>: <span class="hljs-string">"2"</span>,
          <span class="hljs-string">"mobile"</span>: <span class="hljs-string">""</span>,
          <span class="hljs-string">"p1"</span>: <span class="hljs-string">"TmpFMU9EWXdOREkwT1RVek1UTXpNRFU0TXc9PQ=="</span>,
          <span class="hljs-string">"pid"</span>: <span class="hljs-string">"6181284820556361807"</span>,
          <span class="hljs-string">"ppid"</span>: <span class="hljs-string">"OGI-_T2UG4RD0IWNE1JNLNIRT1IO@wechat.sohu.com"</span>,
          <span class="hljs-string">"suid"</span>: <span class="hljs-string">"177463116630690176"</span>,
          <span class="hljs-string">"token"</span>: <span class="hljs-string">"8d6f88dc9ed50fbd4443918fb7134f7d"</span>,
          <span class="hljs-string">"userId"</span>: <span class="hljs-string">"OGI-_T2UG4RD0IWNE1JNLNIRT1IO@wechat.sohu.com"</span>,
          <span class="hljs-string">"userName"</span>: <span class="hljs-string">"狐友1002340"</span>
        }
    });
</code></pre>
<p><em>devData</em> 字段设置上模拟数据之后，在PC浏览器模拟器（Windows和mac平台）中运行时，会即时自动触发回调 <em>cb(sid,devData)</em> 。 注：虽然狐友webview环境中不会处理此字段，但是因为devData可能涉及隐私，所以上线的时候最好注掉
</p>
<h4 id="-devtip-">显示最终调用协议串 - devTip[属性]</h4>
<p>任何一个方法中，添加参数 <em>devTip:1</em> ，即可在页面顶部显示最终调用native的协议。再次单击会消失。 举例：
</p>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.toast</span>({
        <span class="hljs-attribute">devTip</span>:<span class="hljs-number">1</span>,
        type:<span class="hljs-number">0</span>,
        text:<span class="hljs-string">"操作失败"</span>
    });
</code></pre>
<h4 id="-sns-openinsnswebview-">在sns中打开-openInSNSWebview[方法]</h4>
<p>js 调用 <em>sohusns.openInSNSWebview();</em> 可以做到通过客户端首页扫码或者三方扫码工具打开h5的时候，程序自动跳转到狐友的webview中。</p>
<h2 id="-ui">基础UI</h2>
<h3 id="title-">title标题栏</h3>
<p>控制native标题栏显隐，改变title。</p>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.title</span>({
        <span class="hljs-attribute">isShow</span>:<span class="hljs-number">1</span>,//必传 <span class="hljs-number">1</span>显示，<span class="hljs-number">0</span>隐藏
        title:<span class="hljs-string">"xxx"</span>//isShow为<span class="hljs-number">1</span>时必传,如不传默认为document.title
    });
</code></pre>
<h3 id="confirm-">confirm确认框</h3>
<p>调用native确认框</p>
<pre><code class="lang-javascript">    sohusns.confirm({
<span class="hljs-symbol">        title:</span><span class="hljs-string">"确定要xx吗？"</span>, <span class="hljs-comment">//必传</span>
<span class="hljs-symbol">        ok:</span><span class="hljs-string">"是的"</span>, <span class="hljs-comment">//默认 "确定"</span>
<span class="hljs-symbol">        cancel:</span><span class="hljs-string">"算了"</span>,<span class="hljs-comment">//默认 "取消"</span>
<span class="hljs-symbol">        sid:</span><span class="hljs-string">"xx"</span>,
<span class="hljs-symbol">        cb:</span>function(sid,res){<span class="hljs-comment">//必传</span>
        }
    })
<span class="hljs-symbol">res:</span>

    {       
        <span class="hljs-string">"status"</span>: <span class="hljs-string">"1"</span>   <span class="hljs-comment">//1用户按确定键，0用户按取消键 </span>
    }
</code></pre>
<h3 id="toast-">toast操作提示</h3>
<p>调用native操作提示。分成功和失败两种。 注：Android中，如果系统&quot;悬浮窗&quot;权限未打开会导致native调用无效，目前js库的兼容方案是Android下用h5的Toast提示。（动效待优化）
</p>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.toast</span>({
        <span class="hljs-attribute">type</span>:<span class="hljs-number">0</span>,//必传 <span class="hljs-number">1</span>为成功，<span class="hljs-number">0</span>为失败
        text:<span class="hljs-string">"操作成功/失败"</span>//必传
    });
</code></pre>
<h2 id="-">浏览器相关</h2>
<h3 id="-">新窗口打开页面</h3>
<pre><code class="lang-javascript">    sohusns.<span class="hljs-keyword">goto</span>({
        <span class="hljs-string">"url"</span>: <span class="hljs-string">"http://www.sohu.com"</span>,<span class="hljs-comment">//必传</span>
        <span class="hljs-string">"title"</span>: <span class="hljs-string">"iam title"</span>,<span class="hljs-comment">//不传即不显示标题栏</span>
        <span class="hljs-string">"closeCallback"</span>:<span class="hljs-string">"refresh"</span> <span class="hljs-comment">//关闭时刷新（timeline or home页）</span>
    });
</code></pre>
<h3 id="-">关闭当前窗口</h3>
<pre><code class="lang-javascript">    sohusns.close()<span class="hljs-comment">;</span>
</code></pre>
<p>注：通过setTimeout()先打开新native页面，再关掉自己的话，在ios里会关闭掉新页面</p>
<h3 id="-sns-">返回SNS根页面</h3>
<p>关闭所有页面并返回狐友Tab根页面</p>
<pre><code class="lang-javascript">    sohusns.backToRoot()<span class="hljs-comment">;</span>
</code></pre>
<h2 id="-native-">获取native数据</h2>
<h3 id="-">用户信息</h3>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.getUserInfo</span>({
        <span class="hljs-attribute">sid</span>:<span class="hljs-string">"xx"</span>,
        cb:<span class="hljs-built_in">function</span>(sid,res){//必传
        }
    });
</code></pre>
<p>res:</p>
<pre><code> 参见 “开发调试” - “模拟<span class="hljs-keyword">user</span>Info数据” - “devData”的取值
</code></pre>
<p>说明：</p>
<ul>
    <li>未登录时，除 <em>gid</em> <em>p1</em> <em>cid</em> <em>isPhoneBind</em> 外，其余均为&quot;&quot;（iOS v5.7.4+）</li>
    <li>建议依据userId是否为&quot;&quot;来判断是否已登录</li>
</ul>
<h3 id="-">网络状态</h3>
<p>包括当前网络状态及运营商代码。</p>
<pre><code class="lang-javascript">    sohusns.getNetWorkStatus({
        sid:<span class="hljs-string">"xx"</span>,
        cb:<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(sid,res)</span></span>{<span class="hljs-comment">//必传</span>
        }
    }); 
res:

    {
        <span class="hljs-string">"S-TO"</span>:<span class="hljs-string">"运营商 代码"</span>, <span class="hljs-comment">//CM-移动 CU-联通 CT-电信 未插卡-""</span>
        <span class="hljs-string">"S-NW"</span>:<span class="hljs-string">"(234)G/WIFI"</span>   <span class="hljs-comment">//无网为""(可通过这个判断是否断网)</span>
    }
</code></pre>
<h3 id="-">夜间模式</h3>
<p>获取当前客户端设置是否为夜间模式(新闻客户端绝大多数页面展现都支持日间和页面模式)。</p>
<pre><code class="lang-javascript">    <span class="hljs-string">sohusns.nightMode();</span>
<span class="hljs-attr">res:</span>

    <span class="hljs-literal">true</span> <span class="hljs-string">or</span> <span class="hljs-literal">false</span> <span class="hljs-string">(bool)</span>
</code></pre>
<p>备注：</p>
<ul>
    <li>夜间模式下，在新窗口中打开h5页面的时候，url中会被native自动追加上参数&quot;mode=1&quot;（当前窗口内继续load其他页面不会被追加此参数，需要自己利用本地存储维护）。</li>
    <li>如需在sohusns.js加载前，判断是否为夜间模式，可以自行根据&quot;mode=1&quot;来判断。（无mode参数或者mode=其他值时均为日间）</li>
</ul>
<h2 id="-native-">调用native功能</h2>
<h3 id="share-">share分享</h3>
<p>调用native分享。 可以分享到微博微信qq等主流平台，支持：纯图片分享、隐藏特定平台、统计分享数据。 注：如果是夜间模式下把当前页面url分享出去，需要注意把&quot;mode=1&quot;滤掉
</p>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.newsbrige</span>({
        <span class="hljs-attribute">newsFlag</span>:<span class="hljs-string">"share"</span>,<span class="hljs-comment">//必传</span>
        <span class="hljs-attribute">title</span>:<span class="hljs-string">"shareTitle"</span>,
        <span class="hljs-attribute">link</span>:encodeURIComponent(<span class="hljs-string">"http://m.sohu.com"</span>),<span class="hljs-comment">//必须encode，如果分享到狐友后期望用狐友webview而不是news webview打开的话，需要在url中附加参数&amp;url_source_type=112</span>
        <span class="hljs-attribute">content</span>:<span class="hljs-string">"shareContent"</span>,
        <span class="hljs-attribute">description</span>:<span class="hljs-string">"shareDescription"</span>,<span class="hljs-comment">//一般业务里content和description是同一个</span>
        <span class="hljs-attribute">pics</span>:encodeURIComponent(<span class="hljs-string">"https://sns_wf.cdn.sohusce.com/annual-huyou/logo/share.png"</span>), <span class="hljs-comment">//必须encode. 只传此字段时 为纯图片分享;其他情形下为分享出去的卡片的缩略图</span>
        <span class="hljs-attribute">hideShareIcons</span>:<span class="hljs-string">"moments,weChat,sohu,sina,qqZone,qq,alipay,lifeCircle,copyLink"</span>, <span class="hljs-comment">//隐藏特定平台（细节咨询新闻客户端native同学）</span>
        <span class="hljs-attribute">referId </span>:new Date().getTime(), <span class="hljs-comment">//设置唯一值 分享到狐友timeline时不要做展现去重</span>
        <span class="hljs-attribute">sourceType </span>:<span class="hljs-number">112</span> <span class="hljs-comment">//sns活动专用值 http://wiki.sohu-inc.com/pages/viewpage.action?pageId=17404957（这儿需要再验证下 112  113 似乎没什么用）</span>
        <span class="hljs-attribute">logstaisType</span>:<span class="hljs-string">"sns_myHome"</span> <span class="hljs-comment">//统计分享数据（这个似乎没怎么用）, sns_feed/sns_profile/sns_myHome</span>
    });
</code></pre>
<h3 id="-">登录</h3>
<p>调用native登录。登录成功或失败后，native会返回webview and 调用js回调。</p>
<pre><code class="lang-javascript">    sohusns.login({
<span class="hljs-symbol">        isHalf:</span>true,<span class="hljs-comment">//是否是半屏登录</span>
<span class="hljs-symbol">        halfTitle:</span> <span class="hljs-string">"一键登录，留下你的态度"</span> <span class="hljs-comment">//半屏登录的title</span>
<span class="hljs-symbol">        sid:</span><span class="hljs-string">"xx"</span>,
<span class="hljs-symbol">        channelId:</span><span class="hljs-string">""</span>,
<span class="hljs-symbol">        url:</span>encodeURIComponent(location.href),
<span class="hljs-symbol">        cb:</span>function(sid,res){<span class="hljs-comment">//必传</span>
        }
     });
<span class="hljs-symbol">res:</span>

    {       
        <span class="hljs-string">"status"</span>: <span class="hljs-number">1</span>, <span class="hljs-comment">//1登陆成功， 0登陆失败 </span>
    }
</code></pre>
<h3 id="-">绑定手机号</h3>
<p>调用native绑定手机号。绑定成功或失败后，native会返回webview and 调用js回调。</p>
<pre><code class="lang-javascript">    sohusns.bindPhone({
        sid:<span class="hljs-string">"xx"</span>,
        cb:<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(sid,res)</span></span>{<span class="hljs-comment">//必传</span>
        }
     });
res:

    {       
        <span class="hljs-string">"status"</span>:<span class="hljs-string">"1"</span>   <span class="hljs-comment">//1成功，0失败，2不确定（非搜狐账号Android中会返回2）</span>
        <span class="hljs-string">"mobile"</span>:<span class="hljs-string">""</span> <span class="hljs-comment">//成功后返回手机号  否则返回""</span>
    }
</code></pre>
<h3 id="-">图片预览</h3>
<p>调用native图片预览，支持：laoding动效、缩放&amp;&amp;拖动预览。</p>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.imgPreview</span>({
        <span class="hljs-attribute">url</span>:<span class="hljs-string">"http://pic77.nipic.com/file/20150907/18292444_110309622000_2.jpg"</span>,//必传 大图url
        thumbnail:<span class="hljs-string">"iVBORw0KGgoAAAANSUhEUgAAACcAAAAlCAIAAABOCWdpAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA2SURBVFhH7c0xEQAgDAAxhHSsf2d4QMUz5S57zp39z1qz1qw1a81as9asNWvNWrPWrDVra%2FYBvj%2BhApfQ0a0AAAAASUVORK5CYII="</span>//缩略图的base64字符串
    });
</code></pre>
<p>注：src为url的img，可以通过 <em>canvas.toDataURL</em> 来转换为base64</p>
<ul>
    <li>此方法需要满足页面和img资源同域；</li>
    <li>若为跨域，需要server对img的response设置&quot;Access-Control-Allow-Origin&quot;,且前端img对象的crossOrigin=&quot;anonymous&quot; (demo有示例)</li>
</ul>
<h3 id="-">截屏</h3>
<p>调用native截屏</p>
<pre><code class="lang-javascript">    sohusns.screenshot({
            <span class="hljs-string">"startY"</span>: <span class="hljs-number">0</span>, <span class="hljs-comment">//HTML滚动截屏的top起点坐标</span>
            <span class="hljs-string">"endY"</span>: endY, <span class="hljs-comment">//HTML滚动截屏的top终点坐标</span>
            <span class="hljs-string">"uploadHost"</span>: <span class="hljs-string">"https://sns-api-test2.sohusce.com"</span>,
            <span class="hljs-string">"uploadPath"</span>: <span class="hljs-string">"/v5/upload/uploadShareProfile"</span>,
            <span class="hljs-string">"uploadUrl"</span>: <span class="hljs-string">"https://sns-api-test2.sohusce.com/v5/upload/uploadShareProfile"</span>,
            <span class="hljs-string">"appendHeader"</span>: { <span class="hljs-comment">//截屏图片上传时，除native request原有的一坨header外，需要追加的自定义header， 由业务js传递 </span>
                <span class="hljs-string">"X-token1"</span>: <span class="hljs-string">"1234"</span>,
                <span class="hljs-string">"X-token2"</span>: <span class="hljs-string">"5678"</span>
            },
            <span class="hljs-string">"fileKeyName"</span>: <span class="hljs-string">"file"</span>,
            <span class="hljs-string">"appendParams"</span>: {
                <span class="hljs-string">"S-PID"</span>: me.model.all[<span class="hljs-string">'userId'</span>],
                <span class="hljs-string">"file"</span>: <span class="hljs-literal">true</span>
            }),
            cb:<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(sid,res)</span></span>{

            }
    })
</code></pre>
<h3 id="-profile-">调起profile头部背景图编辑</h3>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.openProfileBgEdit</span>({
        <span class="hljs-attribute">cb</span>:<span class="hljs-built_in">function</span>(sid,res){

        }
    });
</code></pre>
<h3 id="-h5-2017-12-">切换H5页面全屏显示（预计2017年12月大版上）</h3>
<pre><code class="lang-javascript">     sohusns.changeFullScreenMode({
        <span class="hljs-string">"isFullScreen"</span>: <span class="hljs-number">1</span>/<span class="hljs-number">0</span>
    })
    <span class="hljs-comment">//字段说明, 1:全屏模式，状态栏透明、标题栏及底部栏隐藏，webview全屏显示</span>
    <span class="hljs-comment">//字段说明, 0:非全屏模式，恢复为默认模式，底部栏显示，标题栏按照默认逻辑显示，状态栏及webview按既有规则显示</span>
</code></pre>
<h3 id="token-6-0-0-">token过期(从6.0.0版本开始支持)</h3>
<pre><code class="lang-javascript">    <span class="hljs-comment">//调native完成后续页面跳转操作（退出登录，回到未登录广场，跟native token过期时一样的操作）</span>
    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.tokenInvalid</span>();
</code></pre>
<h3 id="loading-">loading的显示隐藏</h3>
<pre><code class="lang-javascript">    sohusns.showLoading({
                        <span class="hljs-string">"type"</span>:<span class="hljs-string">"0"</span>  <span class="hljs-comment">//1表示显示loadIng动画 0表示隐藏loading动画</span>
                    });

    <span class="hljs-comment">//iOS:V5.8.4版本开始支持</span>
    <span class="hljs-comment">//Android：6.0.0开始支持</span>
</code></pre>
<h3 id="-">调起支付半屏</h3>
<pre><code class="lang-javascript">     <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.payment</span>({
                     <span class="hljs-attribute">cb</span>:function (sid,res) {

                     },
                     <span class="hljs-attribute">orderInfo</span>:{
                         <span class="hljs-string">"from_user"</span>:<span class="hljs-string">""</span>,  <span class="hljs-comment">//转账发起人passport（需要和客户端当前账户一致）</span>
                         <span class="hljs-string">"to_user"</span>:<span class="hljs-string">""</span>,    <span class="hljs-comment">//收款人passport</span>
                         <span class="hljs-string">"to_user_type"</span>: <span class="hljs-number">0</span>, <span class="hljs-comment">//用户类型， 0： 普通用户， 1：商家</span>
                         <span class="hljs-string">"amt"</span>:<span class="hljs-string">"20.01"</span>,  <span class="hljs-comment">//转账金额， 单位元， 保留两位小数</span>
                         <span class="hljs-string">"order_id"</span>:<span class="hljs-string">""</span>, <span class="hljs-comment">//订单ID (从第三方获取)</span>
                         <span class="hljs-string">"pay_title"</span>:<span class="hljs-string">"打赏"</span>, <span class="hljs-comment">//支付名称（如打赏、红包等）</span>
                         <span class="hljs-string">"third_party_appid"</span>:<span class="hljs-string">""</span>, <span class="hljs-comment">//申请时wallet分配给第三方的appid（从第三方获取）</span>
                         <span class="hljs-string">"third_party_sign"</span>:<span class="hljs-string">""</span> <span class="hljs-comment">//第三方签名（从第三方获取）</span>
                     }
                 })
</code></pre>
<h2 id="-native-">打开native页面</h2>
<h3 id="home-">home页</h3>
<pre><code class="lang-javascript">    sohusns.openHome()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-profile-">用户profile页</h3>
<pre><code class="lang-javascript">    sohusns.openProfile({
        <span class="hljs-string">"id"</span>:<span class="hljs-string">"18611019389@sohu.com"</span> <span class="hljs-comment">//必传 用户 passportID </span>
    });
</code></pre>
<h3 id="feed-">feed详情页</h3>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.openFeed</span>({
        <span class="hljs-attribute">feed_id</span>:<span class="hljs-string">"128252156624010624"</span>,
        user_id:<span class="hljs-string">"zmttest003@sohu.com"</span>
    });
</code></pre>
<h3 id="-">添加关注(热门)页</h3>
<pre><code class="lang-javascript">    sohusns.openAddAttention()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-">广场(精选)页</h3>
<pre><code class="lang-javascript">    sohusns.openSquareAfterLogin()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-">话题详情页</h3>
<pre><code class="lang-javascript">    sohusns.openTopic({
        <span class="hljs-string">"id"</span>:<span class="hljs-string">"121"</span> <span class="hljs-comment">//必传 话题id</span>
    });
</code></pre>
<h3 id="-">私信聊天页</h3>
<pre><code class="lang-javascript">    sohusns.openPrivateMessage({
<span class="hljs-symbol">        avatar:</span><span class="hljs-string">"http://sucimg.itc.cn/avatarimg/s_10000001_1446030193787_c175"</span>,<span class="hljs-comment">//必传 头像url</span>
<span class="hljs-symbol">        user_id:</span><span class="hljs-string">"huangjingfz009@sohu.com"</span>,<span class="hljs-comment">//必传 用户passportId</span>
<span class="hljs-symbol">        name:</span><span class="hljs-string">"huangjingfz009"</span><span class="hljs-comment">//必传 用户狐友昵称</span>
    });
</code></pre>
<h3 id="-">分类用户列表页</h3>
<pre><code class="lang-javascript">    sohusns.openCategoryUserList({
        <span class="hljs-string">"categoryId"</span><span class="hljs-symbol">:<span class="hljs-string">"1"</span></span>,<span class="hljs-regexp">//</span>必传
        <span class="hljs-string">"name"</span><span class="hljs-symbol">:<span class="hljs-string">"类别名"</span>//</span>必传 界面title展示用
    });
</code></pre>
<h3 id="-">推荐用户列表页</h3>
<pre><code class="lang-javascript">    sohusns.openRecommandUserList({
        <span class="hljs-string">"categoryId"</span>:<span class="hljs-string">"类别id"</span>, <span class="hljs-comment">//请求接口参数 ,必传</span>
        <span class="hljs-string">"name"</span>:<span class="hljs-string">"类别名"</span> <span class="hljs-comment">//界面title展示使用，必传</span>
        <span class="hljs-string">"tagId"</span>:<span class="hljs-string">"标签id'</span> <span class="hljs-comment">//categoryId为1时，必传</span>
    });
</code></pre>
<p>注：1-标签用户 其他取值，参考数据开发组@何洲 wiki</p>
<h3 id="-">推荐(猜你喜欢)页</h3>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.openGuessYouKnow</span>({
        <span class="hljs-attribute">template</span>:<span class="hljs-string">"7"</span>,//必传 推荐feed 类别
        user_id:<span class="hljs-string">"18611019389@sohu.com"</span> //必传 推荐来源用户passportId
    });
</code></pre>
<h3 id="-">新闻专题页</h3>
<p>本页面接口不属于正常需求，仅作协议透传测试用。</p>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.newsbrige</span>({
        <span class="hljs-attribute">newsFlag</span>:<span class="hljs-string">"sub"</span>,//必传
        subId:<span class="hljs-number">107</span>
    });
</code></pre>
<h3 id="-">申请搜狐号页面</h3>
<pre><code class="lang-javascript">    sohusns.openApplySohuNum({
        <span class="hljs-string">"statu"</span>: <span class="hljs-number">1</span>, <span class="hljs-comment">//审核状态</span>
        <span class="hljs-string">"reason"</span>: <span class="hljs-string">"&lt;br&gt;[biweiye]-[驳回]-[请您上传清晰有效的手持身份证件照片，感谢您的支持。]-[2017-02-21 15:51:34]-[123]"</span>,<span class="hljs-comment">//驳回显示文案</span>
        <span class="hljs-string">"user_id"</span>: <span class="hljs-string">"110791247173616640"</span>, <span class="hljs-comment">// 申请人suid</span>
        <span class="hljs-string">"isMpMedia"</span>: <span class="hljs-literal">true</span>/<span class="hljs-literal">false</span>, <span class="hljs-comment">//是否是搜狐号</span>
        <span class="hljs-string">"mpManageUrl"</span>: <span class="hljs-string">"http://mp.sohu.com/m/main/client/index.action"</span>  <span class="hljs-comment">//管理搜狐号页面h5地址</span>
    });
</code></pre>
<h3 id="-">用户资料编辑页</h3>
<pre><code class="lang-javascript">    sohusns.openUserInfoEdit()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-">互关通讯录页</h3>
<pre><code class="lang-javascript">    sohusns.openEachAddressBook()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-feed-">照片选择页，完成创建图文feed功能</h3>
<pre><code class="lang-javascript">    sohusns.openPhotoSelectForNewFeed()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-ios5-9-3-">消息提醒页(iOS5.9.3以上开始支持此功能)</h3>
<pre><code class="lang-javascript">    sohusns.openRemindMessage({
        <span class="hljs-string">"isMyAttention"</span>: <span class="hljs-string">"0"</span>, //非必传 不传的时候默认进关注<span class="hljs-built_in">tab</span> <span class="hljs-string">"1"</span> 表示跳转到我关注<span class="hljs-built_in">tab</span> <span class="hljs-string">"0"</span>表示跳转到其他<span class="hljs-built_in">tab</span>
        <span class="hljs-string">"pushType"</span>:<span class="hljs-string">"1"</span>,//推送类型埋点
        <span class="hljs-string">"snsTab"</span>:<span class="hljs-string">"1"</span>
    });
</code></pre>
<h3 id="-ios5-9-3-">私信列表页(iOS5.9.3以上开始支持此功能)</h3>
<pre><code class="lang-javascript">    sohusns.openChatList({
        <span class="hljs-string">"isEachFollow"</span>:<span class="hljs-string">"0"</span>,
        <span class="hljs-string">"id"</span>:<span class="hljs-string">"176475371250747776"</span>,
        <span class="hljs-string">"type"</span>:<span class="hljs-string">"0"</span>,
        <span class="hljs-string">"pushType"</span>:<span class="hljs-string">"1"</span>,<span class="hljs-comment">//推送类型埋点</span>
        <span class="hljs-string">"snsTab"</span>:<span class="hljs-string">"1"</span>
    });
</code></pre>
<h3 id="-5-9-9-">钱包（5.9.9开始支持）</h3>
<pre><code class="lang-javascript">    sohusns.openWallet()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-">钱包交易记录页</h3>
<pre><code class="lang-javascript">    sohusns.openTradeHistory()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-">分享到狐友的界面(以图片为例)</h3>
<pre><code class="lang-javascript">    sohusns.openShareSDK({
        <span class="hljs-string">"type"</span>:<span class="hljs-string">"3"</span>,
        <span class="hljs-string">"imageUrl"</span>:<span class="hljs-string">"http://pic77.nipic.com/file/20150907/18292444_110309622000_2.jpg"</span>,
        <span class="hljs-string">"refer_id"</span>:<span class="hljs-string">""</span>,
        <span class="hljs-string">"topicId"</span>:<span class="hljs-string">""</span>,
        <span class="hljs-string">"topicName"</span>:<span class="hljs-string">""</span>
        <span class="hljs-string">"content"</span>:<span class="hljs-string">"分享content"</span>,
    })
</code></pre>
<h3 id="-">跳转到群聊邀请卡详情页</h3>
<pre><code class="lang-javascript">    sohusns.openInviteCard({
       <span class="hljs-string">"card_id"</span>:<span class="hljs-string">"邀请卡id，目前用msg_id代替"</span>,
       <span class="hljs-string">"group_id"</span>:<span class="hljs-string">"群id"</span>,
       <span class="hljs-string">"invitee_id"</span>:<span class="hljs-string">"受邀人id"</span>,
       <span class="hljs-string">"inviter_id"</span>:<span class="hljs-string">"邀请人id"</span>
       })
</code></pre>
<h3 id="-">跳转绑定银行卡页面</h3>
<pre><code class="lang-javascript">    <span class="hljs-selector-tag">sohusns</span><span class="hljs-selector-class">.openBindBankCard</span>({
        <span class="hljs-attribute">cb</span>:<span class="hljs-built_in">function</span>(sid,res){  

        }
     });
</code></pre>
<h2 id="-native-">传递给native数据</h2>
<h3 id="push-">push登录成功后的返回数据</h3>
<p>未登录状态下的h5（包括但不限于未登录广场），js走server登录成功后，把response数据传给native。</p>
<pre><code class="lang-javascript">    sohusns.sendLoginResponseData({
        <span class="hljs-string">"appSessionToken"</span>:<span class="hljs-string">"641b94ac5a841c69b18e3229671aed9c"</span>,<span class="hljs-string">"bindMobileFlag"</span>:<span class="hljs-string">"1"</span>,<span class="hljs-string">"mobile"</span>:<span class="hljs-string">"18588821253"</span>,<span class="hljs-string">"passport"</span>:<span class="hljs-string">"829529368882597888@sohu.com"</span>,<span class="hljs-string">"secureMobileFlag"</span>:<span class="hljs-string">"1"</span>
    })<span class="hljs-comment">;</span>
</code></pre>
<p>注：data必传，如无特殊业务要求，js只做response透传给native。</p>
<h3 id="push-">push行为日志埋点</h3>
<p>把数据团队需要的用户行为埋点数据，push到native中，由native走上报逻辑。 相关字段参考数据团队埋点文档 <a href="http://wiki.sohu-inc.com/pages/viewpage.action?pageId=24446178">http://wiki.sohu-inc.com/pages/viewpage.action?pageId=24446178</a> 。</p>
<pre><code class="lang-javascript">    sohusns.pushBehaviorLog({
        key:<span class="hljs-string">""</span>,//必传
        params:<span class="hljs-meta">{...}</span>//必传 如无参数，至少要传{}
    });
</code></pre>
<h2 id="native-">native事件通知</h2>
<h3 id="-webview-">当前webview被重新展现出来</h3>
<p>h5打开之后，如果又调用了其他的native页面，然后在这些页面中做了数据修改，此时再返回到h5页面的时候，native会触发js的一个自定义事件。（不论数据是否修改，只要h5重新露出了，都会触发）。</p>
<p>为了响应这个事件，js中应该事先做好绑定，如下</p>
<pre><code class="lang-javascript">    <span class="hljs-comment">//注册webviewReAppear</span>
    <span class="hljs-built_in">document</span>.addEventListener(<span class="hljs-string">"webviewReAppear"</span>,<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>)</span>{
        tip(<span class="hljs-string">"触发：webviewReAppear"</span>+<span class="hljs-built_in">Date</span>.now());
    });
</code></pre>
<h3 id="-webview-">当前webview被隐藏</h3>
<p>h5页面被其他native页面盖住或者被切换其他native tab时，触发此事件。 为了响应这个事件，js中应该事先做好绑定，如下
</p>
<pre><code class="lang-javascript">    <span class="hljs-comment">//注册webviewHidden</span>
    <span class="hljs-built_in">document</span>.addEventListener(<span class="hljs-string">"webviewHidden"</span>,<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>)</span>{
        tip(<span class="hljs-string">"触发：webviewHidden"</span>+<span class="hljs-built_in">Date</span>.now());
    });
</code></pre>
<p>注：这个只有Android在5.8.8+做了支持，iOS未加入。</p>
<h2 id="-">其他特性说明</h2>
<h3 id="h5-">h5页面自动检查更新</h3>
<p>问题：Android下狐友端内打开一个html，切到后台长时间不做操作又没有被系统内存回收时，下次打开时无法及时load到最新版本的h5页面。（ios因为内存回收较快，不做此处理） 为了解决这个问题，引入自动更新检查机制：当首次load页面和页面被重新展现的日期差&gt;0时，页面强制reload，以便拉取最新版本代码。
</p>
<p>如不需要此功能，需要在业务代码中手动调用以下方法：</p>
<pre><code class="lang-javascript">    sohusns.closePageAutoUpdate()<span class="hljs-comment">;</span>
</code></pre>
<h3 id="-">历史版本</h3>
<h4 id="1-0-2">1.0.2</h4>
<ul>
    <li>修复Android无参数协议调用时 有些协议会无效的情况（协议/后统一追加了{}）</li>
    <li>增加Android悬浮窗权限关闭导致native toast无效的问题，顺带支持了非狐友内webview下的toast显示（Android统一走h5的toast）</li>
    <li>增加Android的h5代码自动检测更新</li>
</ul>
<h4 id="1-0-3">1.0.3</h4>
<ul>
    <li>sdk中新增打开申请搜狐号页面、用户资料编辑页、互关通讯录页、照片选择页完成创建图文feed功能</li>
</ul>
<h4 id="1-0-4">1.0.4</h4>
<ul>
    <li>取消callNative中小米MIX的特殊处理</li>
</ul>
<h4 id="1-0-5">1.0.5</h4>
<ul>
    <li>增加screenshot(调用native截屏)、openProfileBgEdit(调用profile头图编辑页面)</li>
</ul>
<h4 id="1-0-6">1.0.6</h4>
<ul>
    <li>增加changeFullScreenMode切换全屏显示的协议</li>
</ul>
<h4 id="1-0-7">1.0.7</h4>
<ul>
    <li>增加openRemindMessage、openChatList、openWallet、tokenInvalid、showLoading协议</li>
</ul>
<h4 id="1-0-8">1.0.8</h4>
<ul>
    <li>增加openShareSDK分享到狐友、openTradeHistory钱包交易记录、payment支付半屏协议</li>
</ul>
<h4 id="1-0-9">1.0.9</h4>
<ul>
    <li>增加openInviteCard跳转到群聊邀请卡详情页、openBindBankCard跳转到银行卡绑定页面</li>
</ul>