<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @@include('../static/template/common/head.html')
</head>

<h1 class="h1">h1标题</h1>
<h2 class="h2">h2标题</h2>
<h3 class="h3">h3标题</h3>

<button type="button" class="btn">Button</button>
<button type="button" class="btn1">Button1</button>
<button type="button" class="btn2">Button2</button>



<body>
<div id="content">
</div>
<script src="../static/js/lib/zepto.min.js"></script>
<script src="../static/js/lib/doT.min.js"></script>
<!-- 在 test 环境会引入vconsole调试工具 -->
@@if (env === 'test') { @@include('../static/template/common/vconsole.html') }
<!-- 当开启config.js中埋点开关时会引入埋点脚本  -->
@@if(buryPointSwitch==='true'){ @@if (env === 'test'){@@include('../static/template/common/mixpanel-test.html') }
@@if(env==='product') { @@include('../static/template/common/mixpanel-product.html') } }
</body>

<script type="text/javascript">


</script>


</html>