<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @include('../static/template/common/head.html')
    <style type="text/css">
        .l-example {
            padding-bottom: 3rem;

        }

        .l-example button {
            margin: 5px;
        }

    </style>
</head>
<body>



<div class="u-loading">
    <svg class="svg-loading" width="100%" height="100%" viewBox="0 0 100 100">
        <circle class="c1" cx="50" cy="50" r="20"
                fill="none"
                stroke-width="5"
                stroke-dasharray="101.4 130"
                stroke-dashoffset="0"
                stroke="#b1b1b1"/>
        <circle class="c2" cx="50" cy="50" r="20"
                fill="none"
                stroke-width="5"
                stroke-dasharray="15.6 130"
                stroke-dashoffset="29"
                stroke="#c7c7c7"/>
    </svg>
</div>


<div class="l-example">
    <!--button.u-btn$*6>{$}-->
    <button type="button" class="u-btn1">按钮1</button>
    <button type="button" class="u-btn2">按钮2</button>
    <button type="button" class="u-btn3">按钮3</button>
    <button type="button" class="u-btn4">按钮4</button>
    <button type="button" class="u-btn5 ">按钮5</button>
    <button type="button" class="u-btn5">按钮5</button>
    <button type="button" class="u-btn6">按钮6</button>

    <button type="button" class="u-line-btn1">按钮</button>
    <button type="button" class="u-line-btn2">按钮2</button>
    <button type="button" class="u-line-btn3">按钮3</button>
    <button type="button" class="u-line-btn4">按钮4</button>
    <button type="button" class="u-line-btn5">按钮5</button>
    <button type="button" class="u-line-btn6">按钮6</button>
    <button type="button" class="u-line-btn7">按钮7</button>
    <button type="button" class="u-line-btn8">按钮8</button>

    <a class="u-btn6" role="button">a按钮</a>
    <a class="u-line-btn1" role="button">a按钮</a>
    <a class="u-btn6 disabled" role="button">disabled</a>


</div>


<body>
    <div id="content">
    </div>
    <script src="../static/js/lib/zepto.min.js"></script>
    <script src="../static/js/lib/doT.min.js"></script>
    <!-- 在 test 环境会引入vconsole调试工具 -->
    @if (env === 'test') { @include('../static/template/common/vconsole.html') }
    <!-- 当开启config.js中埋点开关时会引入埋点脚本  -->
    @if(buryPointSwitch==='true'){ @if (env === 'test'){@include('../static/template/common/mixpanel-test.html') } @if(env==='product') { @include('../static/template/common/mixpanel-product.html') } }
</body>

</html>