@mixin size($width: 168px,$height: 88px,$fz: 28px){
  width: $width;
  height: $height;
  line-height: 1;
  //padding: ($height - $fz)/2 0;
  font-size: $fz;
}

@mixin font($fz: 14px){
  font-size: $fz;
}

@mixin active-focus-disabled {
  &.focus, &:focus,
  &.active,&:active,
  &.disabled,&:disabled{
    @content;
  }
}
