@import "../variables";


@mixin color($color){
  color: $color;
  @at-root .night &{
    color: map-get($night,$color);
  }
}

@mixin bgc($background){
  background-color: $background;
  @at-root .night &{
    background-color: map-get($night,$background);
  }
}

@mixin border($border){
  border-color: $border;
  @at-root .night &{
    border-color: map-get($night,$border);
  }
}

@mixin button-variant($color, $background, $border){
  color: $color;
  background-color: $background;
  border-color: $border;
  @at-root .night &{
    color: map-get($night,$color);
    background-color: map-get($night,$background);
    border-color: map-get($night,$border);
  }
}