#__bs_notify__ {
  font-size: 14px !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-size: 0.2rem; }

button,
input,
textarea,
select {
  outline: none; }

a {
  text-decoration: none; }

img {
  display: block; }

li {
  list-style: none; }

.tbholder {
  display: none !important; }

.ov-elp, #content main article aside span.author-name {
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.ov-elp2 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

html,
body {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei';
  background-color: #fff !important;
  height: 100%; }

#content {
  background-color: #f5f5f5;
  height: 100%;
  min-height: 100%; }
  #content header {
    height: 1.12rem;
    box-shadow: 0 0 .08rem #e5e5e5;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff; }
    #content header > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      height: 1.12rem;
      width: 100%;
      max-width: 1000px;
      min-width: 320px;
      margin: 0 auto;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      font-size: 0.14rem; }
      #content header > div img {
        height: 0.74rem;
        width: 0.74rem;
        min-width: 0.74rem;
        margin-left: 0.28rem; }
        @media screen and (min-width: 415px) {
          #content header > div img {
            height: 46px;
            width: 46px;
            min-width: 46px; } }
      #content header > div span {
        width: 100%;
        margin-left: 0.18rem;
        font-size: 0.28rem; }
      #content header > div .download {
        width: 2.4rem;
        text-align: center;
        color: white;
        height: 0.6rem;
        line-height: 0.6rem;
        background: url(../img/share-top.png) center center/contain no-repeat;
        padding: 0 0.16rem;
        margin-right: 0.28rem;
        font-size: 0.24rem; }
  #content main {
    background-color: #fff;
    min-height: 100%;
    height: 100%;
    padding-top: 1.12rem; }
    #content main article {
      margin: 0 auto;
      max-width: 688px;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      min-height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column; }
      #content main article aside {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 1.12rem;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center; }
        #content main article aside a {
          margin-left: 0.28rem; }
          @media screen and (min-width: 415px) {
            #content main article aside a {
              margin-left: 0; } }
          #content main article aside a img {
            width: 0.74rem;
            height: 0.74rem;
            border-radius: 50%; }
        #content main article aside span.author-name {
          font-size: 0.28rem;
          margin-left: 0.14rem;
          max-width: 5rem; }
        #content main article aside span.author {
          font-size: 0.18rem;
          padding: 1px 2px;
          margin-left: 0.14rem;
          color: green;
          border: 1px solid green;
          border-radius: 0.06rem; }
          @media screen and (min-width: 415px) {
            #content main article aside span.author {
              line-height: 17px;
              height: 19px; } }
      #content main article section {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
                flex: 1; }
        #content main article section .pic-wrap .img {
          width: 6.94rem;
          margin: 0 auto; }
          @media screen and (min-width: 415px) {
            #content main article section .pic-wrap .img {
              width: 100%;
              margin: 0 auto; } }
        #content main article section .pic-wrap .error-wrap img.error {
          width: 2.8rem;
          margin: 0 auto; }
        #content main article section .pic-wrap .error-wrap .dsp {
          text-align: center;
          margin-top: 0.14rem;
          color: #454545;
          font-size: 0.3rem; }
        #content main article section .pic-wrap span.end {
          display: block;
          height: 0.8rem;
          line-height: 0.8rem;
          width: 1.8rem;
          position: relative;
          text-align: center;
          color: #929292;
          font-size: 0.24rem;
          margin: 0.5rem auto .64rem; }
          #content main article section .pic-wrap span.end:after, #content main article section .pic-wrap span.end:before {
            content: '';
            position: absolute;
            bottom: 0.4rem;
            width: 0.46rem;
            height: 0.02rem;
            background-color: #929292; }
          #content main article section .pic-wrap span.end:before {
            left: 0; }
          #content main article section .pic-wrap span.end:after {
            right: 0; }
          #content main article section .pic-wrap span.end.big-margin {
            margin-bottom: 3.54rem; }
        #content main article section .error-wrap img.error {
          width: 2.8rem;
          margin: 0 auto; }
        #content main article section .error-wrap .dsp {
          text-align: center;
          margin-top: 0.14rem;
          color: #454545;
          font-size: 0.3rem; }
      #content main article footer .download {
        height: 2rem;
        width: 100%; }
        @media screen and (min-width: 415px) {
          #content main article footer .download {
            height: 2.5rem; } }
        #content main article footer .download img {
          width: 100%;
          max-width: 688px;
          margin: 0 auto;
          height: 100%; }
  #content .mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none; }
    #content .mask .inner {
      position: absolute;
      top: 3.24rem;
      right: 1.4rem;
      left: 1.4rem;
      border-radius: 0.1rem;
      background-color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center; }
      #content .mask .inner i {
        font-size: 0.38rem;
        position: absolute;
        top: 0.2rem;
        left: 0.2rem; }
      #content .mask .inner img {
        margin: 0.34rem 0;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%; }
      #content .mask .inner > div {
        text-align: center;
        font-size: 0.28rem; }
        #content .mask .inner > div:last-child {
          margin-bottom: 0.34rem; }

#ink-wrapper {
  width: 6.94rem;
  margin: 0 auto; }
  @media screen and (min-width: 415px) {
    #ink-wrapper {
      width: 688px; } }
  @media screen and (min-width: 415px) {
    #ink-wrapper .container-h5 {
      width: 688px; } }

span.end {
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 1.8rem;
  position: relative;
  text-align: center;
  color: #929292;
  font-size: 0.24rem;
  margin: 0.5rem auto .64rem; }
  span.end:after, span.end:before {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    width: 0.46rem;
    height: 0.02rem;
    background-color: #929292; }
  span.end:before {
    left: 0; }
  span.end:after {
    right: 0; }
  span.end.big-margin {
    margin-bottom: 3.54rem; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  background-size: contain;
  padding-bottom: 1.5em; }

.wrapper img {
  display: block; }

.wrapper .img-box {
  width: 100%;
  border: 0; }

.wrapper .img-box img {
  width: 100%;
  border: none;
  outline: none; }

.wrapper .container-h5 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  width: 6.94rem;
  margin: 0 auto;
  padding: .64rem .48rem 0 .48rem; }

.wrapper .container-h5 .text-box {
  word-break: break-all;
  /* white-space: pre-wrap; */ }

.wrapper .container-h5 .paragraph {
  padding-bottom: .18rem;
  /* white-space: normal; */ }

.paragraph .title-box .title {
  padding-bottom: .24rem;
  font-size: .44rem;
  word-break: break-all; }

.paragraph .title-box .time {
  color: #d4d4d4;
  line-height: 1;
  font-size: .3rem; }

.paragraph .img-explain {
  line-height: 1;
  font-size: .28rem;
  padding: .24rem 0; }

.paragraph .img-box {
  padding: .1rem 0; }

.fontSize15 {
  font-size: 15px;
  line-height: 27.5px; }

.fontSize16 {
  font-size: 16px;
  line-height: 28.5px; }

.fontSize17 {
  font-size: 17px;
  line-height: 29.5px; }

.fontSize18 {
  font-size: 18px;
  line-height: 30.5px; }

.fontSize19 {
  font-size: 19px;
  line-height: 31.5px; }

.fontSize20 {
  font-size: 20px;
  line-height: 32.5px; }

.fontSize21 {
  font-size: 21px;
  line-height: 33.5px; }

.fontSize22 {
  font-size: 22px;
  line-height: 34.5px; }

.textAlignment0 {
  text-align: left; }

.textAlignment1 {
  text-align: center; }

.textAlignment2 {
  text-align: right; }

.qute {
  position: relative;
  padding-left: .2rem; }

.qute .before {
  content: "";
  position: absolute;
  left: 0;
  width: .06rem;
  background-color: #b1b1b1; }
