.icon {
	margin-right: .07rem;
	width: .21rem;
	height: .21rem;
	background-size: cover !important;
	display: inline-block;
}

.icon-home {
	background: url(../img/home.png);
}

.icon-location {
	background: url(../img/location.png);
}

.icon-school {
	background: url(../img/school.png);
}

.icon-girl {
	background: url(../img/girl.png);
}

.icon-boy {
	background: url(../img/boy.png);
}

.icon-job {
	background: url(../img/job.png);
}

.icon-business {
	background: url(../img/business.png);
}