@charset "UTF-8";
.btn, .u-btn1, .u-btn2, .u-btn3, .u-btn6, .u-btn5, .u-btn4, .u-line-btn1, .u-line-btn4, .u-line-btn5, .u-line-btn7, .u-line-btn2, .u-line-btn6, .u-line-btn8, .u-line-btn3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  background-image: none;
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  box-sizing: border-box;
  border: 1px solid transparent;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.block-btn-yellow, .u-btn1, .u-btn2, .u-btn3, .u-btn6 {
  color: #000;
  background-color: #FDD536; }
  .block-btn-yellow.focus, .focus.u-btn1, .focus.u-btn2, .focus.u-btn3, .focus.u-btn6, .block-btn-yellow:focus, .u-btn1:focus, .u-btn2:focus, .u-btn3:focus, .u-btn6:focus, .block-btn-yellow.active, .active.u-btn1, .active.u-btn2, .active.u-btn3, .active.u-btn6, .block-btn-yellow:active, .u-btn1:active, .u-btn2:active, .u-btn3:active, .u-btn6:active, .block-btn-yellow.disabled, .disabled.u-btn1, .disabled.u-btn2, .disabled.u-btn3, .disabled.u-btn6, .block-btn-yellow:disabled, .u-btn1:disabled, .u-btn2:disabled, .u-btn3:disabled, .u-btn6:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(253, 213, 54, 0.3);
    pointer-events: none;
    cursor: not-allowed; }
  .night .block-btn-yellow, .night .u-btn1, .night .u-btn2, .night .u-btn3, .night .u-btn6 {
    color: #7A7A7A;
    background-color: #7F5D17; }
    .night .block-btn-yellow.focus, .night .focus.u-btn1, .night .focus.u-btn2, .night .focus.u-btn3, .night .focus.u-btn6, .night .block-btn-yellow:focus, .night .u-btn1:focus, .night .u-btn2:focus, .night .u-btn3:focus, .night .u-btn6:focus, .night .block-btn-yellow.active, .night .active.u-btn1, .night .active.u-btn2, .night .active.u-btn3, .night .active.u-btn6, .night .block-btn-yellow:active, .night .u-btn1:active, .night .u-btn2:active, .night .u-btn3:active, .night .u-btn6:active, .night .block-btn-yellow.disabled, .night .disabled.u-btn1, .night .disabled.u-btn2, .night .disabled.u-btn3, .night .disabled.u-btn6, .night .block-btn-yellow:disabled, .night .u-btn1:disabled, .night .u-btn2:disabled, .night .u-btn3:disabled, .night .u-btn6:disabled {
      color: rgba(122, 122, 122, 0.3);
      background-color: rgba(127, 93, 23, 0.3);
      pointer-events: none;
      cursor: not-allowed; }

.block-btn-red, .u-btn5 {
  color: #FFF;
  background-color: #ED5D49; }
  .block-btn-red.focus, .focus.u-btn5, .block-btn-red:focus, .u-btn5:focus, .block-btn-red.active, .active.u-btn5, .block-btn-red:active, .u-btn5:active, .block-btn-red.disabled, .disabled.u-btn5, .block-btn-red:disabled, .u-btn5:disabled {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(237, 93, 73, 0.3);
    pointer-events: none;
    cursor: not-allowed; }
  .night .block-btn-red, .night .u-btn5 {
    color: #232323;
    background-color: #762E24; }
    .night .block-btn-red.focus, .night .focus.u-btn5, .night .block-btn-red:focus, .night .u-btn5:focus, .night .block-btn-red.active, .night .active.u-btn5, .night .block-btn-red:active, .night .u-btn5:active, .night .block-btn-red.disabled, .night .disabled.u-btn5, .night .block-btn-red:disabled, .night .u-btn5:disabled {
      color: rgba(35, 35, 35, 0.3);
      background-color: rgba(118, 46, 36, 0.3);
      pointer-events: none;
      cursor: not-allowed; }

.block-btn-transparent, .u-btn4 {
  color: #000;
  background-color: transparent; }
  .block-btn-transparent.focus, .focus.u-btn4, .block-btn-transparent:focus, .u-btn4:focus, .block-btn-transparent.active, .active.u-btn4, .block-btn-transparent:active, .u-btn4:active, .block-btn-transparent.disabled, .disabled.u-btn4, .block-btn-transparent:disabled, .u-btn4:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    pointer-events: none;
    cursor: not-allowed; }
  .night .block-btn-transparent, .night .u-btn4 {
    color: #7A7A7A;
    background-color: transparent; }
    .night .block-btn-transparent.focus, .night .focus.u-btn4, .night .block-btn-transparent:focus, .night .u-btn4:focus, .night .block-btn-transparent.active, .night .active.u-btn4, .night .block-btn-transparent:active, .night .u-btn4:active, .night .block-btn-transparent.disabled, .night .disabled.u-btn4, .night .block-btn-transparent:disabled, .night .u-btn4:disabled {
      color: rgba(122, 122, 122, 0.3);
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed; }

.block-btn-yellow, .u-btn1, .u-btn2, .u-btn3, .u-btn6, .block-btn-red, .u-btn5 {
  border-radius: 10rem; }

.line-btn-yellow, .u-line-btn1, .u-line-btn4, .u-line-btn5, .u-line-btn7 {
  color: #FFBC2F;
  background-color: transparent;
  border-color: #FFBC2F; }
  .line-btn-yellow.focus, .focus.u-line-btn1, .focus.u-line-btn4, .focus.u-line-btn5, .focus.u-line-btn7, .line-btn-yellow:focus, .u-line-btn1:focus, .u-line-btn4:focus, .u-line-btn5:focus, .u-line-btn7:focus, .line-btn-yellow.active, .active.u-line-btn1, .active.u-line-btn4, .active.u-line-btn5, .active.u-line-btn7, .line-btn-yellow:active, .u-line-btn1:active, .u-line-btn4:active, .u-line-btn5:active, .u-line-btn7:active, .line-btn-yellow.disabled, .disabled.u-line-btn1, .disabled.u-line-btn4, .disabled.u-line-btn5, .disabled.u-line-btn7, .line-btn-yellow:disabled, .u-line-btn1:disabled, .u-line-btn4:disabled, .u-line-btn5:disabled, .u-line-btn7:disabled {
    border-color: rgba(255, 188, 47, 0.3); }
  .line-btn-yellow.focus, .focus.u-line-btn1, .focus.u-line-btn4, .focus.u-line-btn5, .focus.u-line-btn7, .line-btn-yellow:focus, .u-line-btn1:focus, .u-line-btn4:focus, .u-line-btn5:focus, .u-line-btn7:focus, .line-btn-yellow.active, .active.u-line-btn1, .active.u-line-btn4, .active.u-line-btn5, .active.u-line-btn7, .line-btn-yellow:active, .u-line-btn1:active, .u-line-btn4:active, .u-line-btn5:active, .u-line-btn7:active, .line-btn-yellow.disabled, .disabled.u-line-btn1, .disabled.u-line-btn4, .disabled.u-line-btn5, .disabled.u-line-btn7, .line-btn-yellow:disabled, .u-line-btn1:disabled, .u-line-btn4:disabled, .u-line-btn5:disabled, .u-line-btn7:disabled {
    color: rgba(255, 188, 47, 0.3);
    background-color: transparent;
    pointer-events: none;
    cursor: not-allowed; }
  .night .line-btn-yellow, .night .u-line-btn1, .night .u-line-btn4, .night .u-line-btn5, .night .u-line-btn7 {
    color: #7E6A1A;
    background-color: transparent;
    border-color: #7E6A1A; }
    .night .line-btn-yellow.focus, .night .focus.u-line-btn1, .night .focus.u-line-btn4, .night .focus.u-line-btn5, .night .focus.u-line-btn7, .night .line-btn-yellow:focus, .night .u-line-btn1:focus, .night .u-line-btn4:focus, .night .u-line-btn5:focus, .night .u-line-btn7:focus, .night .line-btn-yellow.active, .night .active.u-line-btn1, .night .active.u-line-btn4, .night .active.u-line-btn5, .night .active.u-line-btn7, .night .line-btn-yellow:active, .night .u-line-btn1:active, .night .u-line-btn4:active, .night .u-line-btn5:active, .night .u-line-btn7:active, .night .line-btn-yellow.disabled, .night .disabled.u-line-btn1, .night .disabled.u-line-btn4, .night .disabled.u-line-btn5, .night .disabled.u-line-btn7, .night .line-btn-yellow:disabled, .night .u-line-btn1:disabled, .night .u-line-btn4:disabled, .night .u-line-btn5:disabled, .night .u-line-btn7:disabled {
      border-color: rgba(126, 106, 26, 0.3); }
    .night .line-btn-yellow.focus, .night .focus.u-line-btn1, .night .focus.u-line-btn4, .night .focus.u-line-btn5, .night .focus.u-line-btn7, .night .line-btn-yellow:focus, .night .u-line-btn1:focus, .night .u-line-btn4:focus, .night .u-line-btn5:focus, .night .u-line-btn7:focus, .night .line-btn-yellow.active, .night .active.u-line-btn1, .night .active.u-line-btn4, .night .active.u-line-btn5, .night .active.u-line-btn7, .night .line-btn-yellow:active, .night .u-line-btn1:active, .night .u-line-btn4:active, .night .u-line-btn5:active, .night .u-line-btn7:active, .night .line-btn-yellow.disabled, .night .disabled.u-line-btn1, .night .disabled.u-line-btn4, .night .disabled.u-line-btn5, .night .disabled.u-line-btn7, .night .line-btn-yellow:disabled, .night .u-line-btn1:disabled, .night .u-line-btn4:disabled, .night .u-line-btn5:disabled, .night .u-line-btn7:disabled {
      color: rgba(126, 106, 26, 0.3);
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed; }

.line-btn-black, .u-line-btn2, .u-line-btn6, .u-line-btn8 {
  color: #929292;
  background-color: transparent;
  border-color: #929292; }
  .line-btn-black.focus, .focus.u-line-btn2, .focus.u-line-btn6, .focus.u-line-btn8, .line-btn-black:focus, .u-line-btn2:focus, .u-line-btn6:focus, .u-line-btn8:focus, .line-btn-black.active, .active.u-line-btn2, .active.u-line-btn6, .active.u-line-btn8, .line-btn-black:active, .u-line-btn2:active, .u-line-btn6:active, .u-line-btn8:active, .line-btn-black.disabled, .disabled.u-line-btn2, .disabled.u-line-btn6, .disabled.u-line-btn8, .line-btn-black:disabled, .u-line-btn2:disabled, .u-line-btn6:disabled, .u-line-btn8:disabled {
    border-color: rgba(146, 146, 146, 0.3); }
  .line-btn-black.focus, .focus.u-line-btn2, .focus.u-line-btn6, .focus.u-line-btn8, .line-btn-black:focus, .u-line-btn2:focus, .u-line-btn6:focus, .u-line-btn8:focus, .line-btn-black.active, .active.u-line-btn2, .active.u-line-btn6, .active.u-line-btn8, .line-btn-black:active, .u-line-btn2:active, .u-line-btn6:active, .u-line-btn8:active, .line-btn-black.disabled, .disabled.u-line-btn2, .disabled.u-line-btn6, .disabled.u-line-btn8, .line-btn-black:disabled, .u-line-btn2:disabled, .u-line-btn6:disabled, .u-line-btn8:disabled {
    color: rgba(146, 146, 146, 0.3);
    background-color: transparent;
    pointer-events: none;
    cursor: not-allowed; }
  .night .line-btn-black, .night .u-line-btn2, .night .u-line-btn6, .night .u-line-btn8 {
    color: #606060;
    background-color: transparent;
    border-color: #606060; }
    .night .line-btn-black.focus, .night .focus.u-line-btn2, .night .focus.u-line-btn6, .night .focus.u-line-btn8, .night .line-btn-black:focus, .night .u-line-btn2:focus, .night .u-line-btn6:focus, .night .u-line-btn8:focus, .night .line-btn-black.active, .night .active.u-line-btn2, .night .active.u-line-btn6, .night .active.u-line-btn8, .night .line-btn-black:active, .night .u-line-btn2:active, .night .u-line-btn6:active, .night .u-line-btn8:active, .night .line-btn-black.disabled, .night .disabled.u-line-btn2, .night .disabled.u-line-btn6, .night .disabled.u-line-btn8, .night .line-btn-black:disabled, .night .u-line-btn2:disabled, .night .u-line-btn6:disabled, .night .u-line-btn8:disabled {
      border-color: rgba(96, 96, 96, 0.3); }
    .night .line-btn-black.focus, .night .focus.u-line-btn2, .night .focus.u-line-btn6, .night .focus.u-line-btn8, .night .line-btn-black:focus, .night .u-line-btn2:focus, .night .u-line-btn6:focus, .night .u-line-btn8:focus, .night .line-btn-black.active, .night .active.u-line-btn2, .night .active.u-line-btn6, .night .active.u-line-btn8, .night .line-btn-black:active, .night .u-line-btn2:active, .night .u-line-btn6:active, .night .u-line-btn8:active, .night .line-btn-black.disabled, .night .disabled.u-line-btn2, .night .disabled.u-line-btn6, .night .disabled.u-line-btn8, .night .line-btn-black:disabled, .night .u-line-btn2:disabled, .night .u-line-btn6:disabled, .night .u-line-btn8:disabled {
      color: rgba(96, 96, 96, 0.3);
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed; }

.line-btn-transparent, .u-line-btn3 {
  color: #929292;
  background-color: transparent; }
  .line-btn-transparent.focus, .focus.u-line-btn3, .line-btn-transparent:focus, .u-line-btn3:focus, .line-btn-transparent.active, .active.u-line-btn3, .line-btn-transparent:active, .u-line-btn3:active, .line-btn-transparent.disabled, .disabled.u-line-btn3, .line-btn-transparent:disabled, .u-line-btn3:disabled {
    color: rgba(146, 146, 146, 0.3);
    background-color: transparent;
    pointer-events: none;
    cursor: not-allowed; }
  .night .line-btn-transparent, .night .u-line-btn3 {
    color: #606060;
    background-color: transparent; }
    .night .line-btn-transparent.focus, .night .focus.u-line-btn3, .night .line-btn-transparent:focus, .night .u-line-btn3:focus, .night .line-btn-transparent.active, .night .active.u-line-btn3, .night .line-btn-transparent:active, .night .u-line-btn3:active, .night .line-btn-transparent.disabled, .night .disabled.u-line-btn3, .night .line-btn-transparent:disabled, .night .u-line-btn3:disabled {
      color: rgba(96, 96, 96, 0.3);
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed; }

.line-btn-yellow, .u-line-btn1, .u-line-btn4, .u-line-btn5, .u-line-btn7, .line-btn-black, .u-line-btn2, .u-line-btn6, .u-line-btn8, .line-btn-transparent, .u-line-btn3 {
  background: none;
  border-radius: 0.08rem; }

.u-loading {
  width: 1.26rem;
  height: 1.26rem;
  border-radius: 0.08rem;
  background-color: rgba(241, 241, 241, 0.8);
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); }

.u-loading svg {
  -webkit-animation: rotate 1.832s linear 0s infinite;
          animation: rotate 1.832s linear 0s infinite; }

.u-loading svg circle.c1 {
  -webkit-animation: long 1.832s cubic-bezier(0.18, 0, 0.58, 1) 0s infinite;
          animation: long 1.832s cubic-bezier(0.18, 0, 0.58, 1) 0s infinite; }

.u-loading svg circle.c2 {
  -webkit-animation: short 1.832s cubic-bezier(0.18, 0, 0.58, 1) 0s infinite;
          animation: short 1.832s cubic-bezier(0.18, 0, 0.58, 1) 0s infinite; }

@-webkit-keyframes long {
  0% {
    stroke-dasharray: 101.4 130; }
  50% {
    stroke-dasharray: 26 130; }
  100% {
    stroke-dasharray: 101.4 130; } }

@keyframes long {
  0% {
    stroke-dasharray: 101.4 130; }
  50% {
    stroke-dasharray: 26 130; }
  100% {
    stroke-dasharray: 101.4 130; } }

@-webkit-keyframes short {
  0% {
    stroke-dasharray: 15.6 130;
    stroke-dashoffset: 29; }
  50% {
    stroke-dasharray: 5.2 130;
    stroke-dashoffset: 8; }
  100% {
    stroke-dasharray: 15.6 130;
    stroke-dashoffset: 29; } }

@keyframes short {
  0% {
    stroke-dasharray: 15.6 130;
    stroke-dashoffset: 29; }
  50% {
    stroke-dasharray: 5.2 130;
    stroke-dashoffset: 8; }
  100% {
    stroke-dasharray: 15.6 130;
    stroke-dashoffset: 29; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

body {
  background-color: #FFF; }
  .night body {
    background-color: #232323; }

.u-btn1 {
  width: 0.96rem;
  height: 0.52rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.28rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-btn2 {
  width: 1.64rem;
  height: 0.88rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-btn3 {
  width: 5.20rem;
  height: 0.88rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-btn6 {
  width: 5.20rem;
  height: 0.88rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-btn5 {
  width: 5.20rem;
  height: 0.88rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-btn4 {
  width: 5.20rem;
  height: 0.88rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn1 {
  width: 0.88rem;
  height: 0.48rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.24rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn4 {
  width: 2.44rem;
  height: 0.52rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.28rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn5 {
  width: 5.20rem;
  height: 0.72rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn7 {
  width: 6.94rem;
  height: 0.71rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn2 {
  width: 0.88rem;
  height: 0.48rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.24rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn6 {
  width: 5.20rem;
  height: 0.72rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn8 {
  width: 6.94rem;
  height: 0.71rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.36rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-line-btn3 {
  width: 0.88rem;
  height: 0.48rem;
  /*line-height: 1;
  padding: ($height - $fz)/2 0;*/
  font-size: 0.24rem;
  /*@include font(map-get($v3, fontSize));*/ }

.u-btn1 {
  padding: 0  0.20rem;
  width: auto; }

/**
* 字号大小
* .s-fz96 即为 0.96rem
**/
.s-fz96 {
  font-size: 0.96rem; }

.s-fz44 {
  font-size: 0.44rem; }

.s-fz40 {
  font-size: 0.40rem; }

.s-fz36 {
  font-size: 0.36rem; }

.s-fz32 {
  font-size: 0.32rem; }

.s-fz30 {
  font-size: 0.30rem; }

.s-fz28 {
  font-size: 0.28rem; }

.s-fz26 {
  font-size: 0.26rem; }

.s-fz24 {
  font-size: 0.24rem; }

.s-fz22 {
  font-size: 0.22rem; }

.s-fz20 {
  font-size: 0.20rem; }

.s-fz18 {
  font-size: 0.18rem; }